@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Almarai", sans-serif;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer base {
  :root {
    --background:  20 14.3% 4.1%;
    --foreground:  0 0% 95%;
    --card:  24 9.8% 10%;
    --card-foreground:  0 0% 95%;
    --popover:  0 0% 9%;
    --popover-foreground:  0 0% 95%;
    --primary:  346.8 77.2% 49.8%;
    --primary-foreground:  355.7 100% 97.3%;
    --secondary:  240 3.7% 15.9%;
    --secondary-foreground:  0 0% 98%;
    --muted:  0 0% 15%;
    --muted-foreground:  240 5% 64.9%;
    --accent:  12 6.5% 15.1%;
    --accent-foreground:  0 0% 98%;
    --destructive:  0 62.8% 30.6%;
    --destructive-foreground:  0 85.7% 97.3%;
    --border:  240 3.7% 15.9%;
    --input:  240 3.7% 15.9%;
    --ring:  346.8 77.2% 49.8%;
    --chart-1:  220 70% 50%;
    --chart-2:  160 60% 45%;
    --chart-3:  30 80% 55%;
    --chart-4:  280 65% 60%;
    --chart-5:  340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
